<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: white;"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-content id="menu-content">
  
      <div class="container">
        <br>
        <h5>Change Password</h5>
        <div class="input">
          <label for="BillingAddress">New Password</label>
          <ion-input id="BillingAddress" type="password" autocomplete="off" placeholder="New Password" [(ngModel)]="password"></ion-input>
        </div>
        <br>
        <div class="input">
          <label for="BillingAddress">Confirm Password</label>
          <ion-input id="BillingAddress" type="password" autocomplete="off" placeholder="New Password" [(ngModel)]="confirmPassword"></ion-input>
        </div>
        <br>
        <ion-button (click)="changePassword()">Change</ion-button>
      </div>
  
    </ion-content>