<ion-content>
 <div class="container">
   <div class="header">
     <h2>PayPak</h2>
   </div>
   <br>
   <div class="login">
    <form [formGroup]="form" >
      <div class="input">
        <label for="email">E-mail Address</label>
        <ion-input id="email" type="email" autocomplete="off" formControlName="email" ></ion-input>
      </div>
      <br>
      <div class="input">
          <label for="password">Password</label>
          <ion-input id="password" type="password" autocomplete="off" formControlName="password" ></ion-input>
        </div>
      <br>
      <ion-button (click)="submit(form)" [disabled]="form.pristine || form.invalid" >Login</ion-button>
      <h4 (click)="forgotPassword()" ><a>Forgot your password?</a></h4>
    </form>
  </div>
  <div class="divider"></div>
    <div class="divider"></div>

    <div class="register">
      <ion-button (click)="navigateRegister()" >Register</ion-button>
    </div>
 </div>
</ion-content>

<ion-footer>
  <h6>For contact WhatsApp on +923346528689</h6>
</ion-footer>
