<ion-content>
  <div class="container">
    <div class="header">
      <h2>
        <img src="assets/icon.png" alt="" style="width: 70px;">
      </h2>
    </div>
    <br>
    <div class="login">
      <form [formGroup]="form">
        <div class="input">
          <label for="email">Name</label>
          <ion-input id="email" type="text" autocomplete="off" formControlName="name"></ion-input>
        </div>
        <br>
        <div class="input">
          <label for="email">Mobile Number <small>(U.A.E number)</small></label>
          <ion-input id="email" type="tel" autocomplete="off" formControlName="phone" maxLength="9"
            placeholder="example: 512711909"></ion-input>
        </div>
        <br>
        <div class="input">
          <label for="email">E-mail Address</label>
          <ion-input id="email" type="email" autocomplete="off" formControlName="email"></ion-input>
        </div>
        <br>
        <div class="input">
          <label for="password">Password</label>
          <ion-input id="password" type="password" autocomplete="off" formControlName="password"></ion-input>
        </div>
        <div class="input">
          <label for="password">Confirm Password</label>
          <ion-input id="password" type="password" autocomplete="off" formControlName="repeatPassword"></ion-input>
        </div>
        <br>
        <ion-button (click)="submit(form)" [disabled]="form.pristine || form.invalid">Register</ion-button>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <h6>For contact WhatsApp on <a style="color: lightblue; text-decoration: underline;" href="whatsapp://send?phone=+923346528689" >+923346528689</a></h6>
</ion-footer>