<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="menu" style="position: relative; top: 4px;"></ion-icon><span
        style="position: relative; left: 20px;">Mobile e-load</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <div class="balHeader">
      <h6>Balance Remaining: 00.00</h6>
    </div>

    <h4 id="header">Choose a Carrier
      <span>
        <img src="assets/{{carrier}}.jpg" alt="">
      </span>
    </h4>

    <div class="input">
      <label for="state">Carrier</label>
      <ion-select okText="Okay" cancelText="Cancel" [(ngModel)]="carrier">
        <ion-select-option text-wrap value="jazz">Jazz</ion-select-option>
        <ion-select-option text-wrap value="telenor">Telenor</ion-select-option>
        <ion-select-option text-wrap value="ufone">Ufone</ion-select-option>
        <ion-select-option text-wrap value="zong">Zong</ion-select-option>
      </ion-select>
    </div>

    <div class="limit">
      <ion-row>
        <ion-col size="4">
          <div class="borderLimit">
            <h6>50</h6>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="borderLimit">
            <h6>50</h6>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="borderLimit">
            <h6>50</h6>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="borderLimit">
            <h6>50</h6>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="borderLimit">
            <h6>50</h6>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="borderLimit">
            <h6>50</h6>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="borderLimit">
            <h6>50</h6>
          </div>
        </ion-col>

      </ion-row>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
    </div>

    <div class="footer">
      <div class="input">
        <label for="BillingAddress">Load Amount</label>
        <ion-input id="BillingAddress" type="number" autocomplete="off"></ion-input>
      </div>
      <br>
      <div class="input">
        <label for="BillingAddress">Subscriber Number</label>
        <ion-input id="BillingAddress" type="number" autocomplete="off"></ion-input>
      </div>
      <br>
      <ion-button (click)="submit(form)">Continue</ion-button>
      <br>
    </div>

  </div>

</ion-content>