<ion-split-pane contentId="menu-content">
  <!--  our side menu  -->
  <ion-menu contentId="menu-content">
    <ion-header>
      <ion-toolbar>
        <ion-title style="color: #5b0101;">Options</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ul style="list-style: none; padding: 0px 0px 0px 0px;">
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="navigateHome()"> Home
        </li>
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="navigateTopUp()"> Top Up
        </li>
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="navigateTransaction()"> Transaction History
        </li>
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="logout()"> Log Out
        </li>
      </ul>
    </ion-content>
  </ion-menu>



  <ion-content id="menu-content">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-icon name="menu" style="position: relative; top: 4px;" (click)="openMenu()"></ion-icon><span
            style="position: relative; left: 20px;">Home</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="container">

      <div class="topHeader">
        <div class="content">
          <h1>
            <ion-icon name="wallet" mode="ios"></ion-icon>
          </h1>
          <h4>My Current Balance</h4>
          <h4>AED {{userData.balance | number : '1.2-2'}}</h4>
        </div>
      </div>

      <div class="carriersGrid">

        <ion-row>
          <ion-col size="6" style="border-right: 1px #9D0001 solid;" [class.active]="carrier === 'jazz' "
            [class.inactive]="carrier !== 'jazz' ">
            <div (click)="changeCarrier('jazz')">
              <img src="assets/jazz.png" alt="">
            </div>
          </ion-col>
          <ion-col size="6" [class.active]="carrier === 'telenor' " [class.inactive]="carrier !== 'telenor' ">
            <div (click)="changeCarrier('telenor')">
              <img src="assets/telenor.png" alt="">
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6"
            style="border-top: 1px #9D0001 solid; border-right: 1px #9D0001 solid; border-bottom: 1px #9D0001 solid;"
            [class.active]="carrier === 'ufone' " [class.inactive]="carrier !== 'ufone' ">
            <div (click)="changeCarrier('ufone')">
              <img src="assets/ufone.png" alt="">
            </div>
          </ion-col>
          <ion-col size="6" style="border-top: 1px #9D0001 solid; border-bottom: 1px #9D0001 solid;"
            [class.active]="carrier === 'zong' " [class.inactive]="carrier !== 'zong' ">
            <div (click)="changeCarrier('zong')">
              <img src="assets/zong.png" alt="">
            </div>
          </ion-col>
        </ion-row>

      </div>

    </div>

  </ion-content>

</ion-split-pane>