<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="menu-content">
  <div class="container">

    <div class="topHeader">
      <div class="content">
        <h1>
          <ion-icon name="wallet" mode="ios"></ion-icon>
        </h1>
        <h4>My Current Balance</h4>
        <h4>AED {{userData.balance | number : '1.2-2'}}</h4>
      </div>
    </div>

    <div class="carriersGrid">

      <ion-row>
        <ion-col size="6" style="border-right: 1px #9D0001 solid;" [class.active]="carrier === 'jazz' "
          [class.inactive]="carrier !== 'jazz' ">
          <div (click)="changeCarrier('jazz')">
            <img src="assets/warid.png" alt="">
          </div>
        </ion-col>
        <ion-col size="6" [class.active]="carrier === 'telenor' " [class.inactive]="carrier !== 'telenor' ">
          <div (click)="changeCarrier('telenor')">
            <img src="assets/telenor.png" alt="">
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6"
          style="border-top: 1px #9D0001 solid; border-right: 1px #9D0001 solid; border-bottom: 1px #9D0001 solid;"
          [class.active]="carrier === 'ufone' " [class.inactive]="carrier !== 'ufone' ">
          <div (click)="changeCarrier('ufone')">
            <img src="assets/ufone.png" alt="">
          </div>
        </ion-col>
        <ion-col size="6" style="border-top: 1px #9D0001 solid; border-bottom: 1px #9D0001 solid;"
          [class.active]="carrier === 'zong' " [class.inactive]="carrier !== 'zong' ">
          <div (click)="changeCarrier('zong')">
            <img src="assets/zong.png" alt="">
          </div>
        </ion-col>
      </ion-row>

    </div>

  </div>

</ion-content>