<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mobile e-Load
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="menu-content">

  <div class="container">

      <div class="topHeader">
          <h6>
            Balance : AED {{userData?.balance | number : '1.2-2'}}
          </h6>
        </div>
        
    <h4>
      Provide Information
      <span>
        <img src="assets/{{type}}.png" alt="" style="width: 60px; height: auto; float: right; position: relative; right: 15px;">
      </span>
    </h4>
    <div class="limit">
      <ion-row>
        <ion-col size="4" *ngFor="let item of charges">
          <div class="borderLimit" (click)="chargeAmount(item)" [class.active]="amount === item"
            [class.inactive]="amount !== item">
            <h6>{{item?.amount}}</h6>
            <p style="margin: 0px 0px 0px 0px; font-size: 0.7em; text-align: center; position: relative; top: 7px;" *ngIf="item?.text !== '' ">{{item?.text}}</p>
            <p style="margin: 0px 0px 0px 0px; font-size: 0.7em; text-align: center; position: relative; top: 7px;" *ngIf="item?.text === '' ">Pkr. {{item?.amount * rate}}</p>
          </div>
        </ion-col>

      </ion-row>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
    </div>

    <div class="footer">
      <div class="input">
        <label for="BillingAddress">Load Amount</label>
        <ion-input id="BillingAddress" type="number" autocomplete="off" [(ngModel)]="amount"></ion-input>
      </div>
      <br>
      <div class="input">
        <label for="BillingAddress">Subscriber Number</label>
        <ion-input id="BillingAddress" type="tel" autocomplete="off" [(ngModel)]="number" placeholder="xx-xxxxxxx" maxlength="9" >
        </ion-input>
      </div>
      <br>
      <ion-button (click)="submit()">Continue</ion-button>
      <br>
    </div>
  </div>

</ion-content>