<ion-split-pane contentId="menu-content2">
  <!--  our side menu  -->
  <ion-menu contentId="menu-content2">
    <ion-header>
      <ion-toolbar>
        <ion-title style="color: #5b0101;">Options</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ul style="list-style: none; padding: 0px 0px 0px 0px;">
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="navigateHome()"> Home
        </li>
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="navigateTopUp()"> Top Up
        </li>
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="navigateTransaction()"> Transaction History
        </li>
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="logout()"> Log Out
        </li>
      </ul>
    </ion-content>
  </ion-menu>


  <ion-content id="menu-content2">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-icon name="menu" style="position: relative; top: 4px;" (click)="openMenu()"></ion-icon><span
            style="position: relative; left: 20px;">Top Up your Account</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="container">
      <br>
      <h5>Your Information</h5>
      <!-- <form> -->
        <div class="input">
          <label for="BillingAddress">Amount</label>
          <ion-input id="BillingAddress" type="number" autocomplete="off" placeholder="50" [(ngModel)]="amount"></ion-input>
        </div>
        <br>
        <div class="input">
          <label for="BillingAddress">Date</label>
          <ion-datetime cancelText="Cancel" doneText="Okay" display-format="DD-MM-YYYY" max="2021" placeholder="DD-MM-YYY" [(ngModel)]="date"></ion-datetime>
        </div>
        <br>
        <div class="input">
          <label for="BillingAddress">Contact Number</label>
          <ion-input id="BillingAddress" type="tel" autocomplete="off" placeholder="xxxxxxxxxx" [(ngModel)]="number"></ion-input>
        </div>
        <br>
        <div class="input">
          <label for="BillingAddress">Receipt<small>&nbsp;(click below to choose)</small></label>
          <br>
          <img src="{{ base64Image || image}}" alt="" style="max-width: 200px; height: auto; border-radius: 0%;" (click)="choosePicture()">
        </div>
        <br>
        <ion-button (click)="submit()">Submit</ion-button>
      <!-- </form> -->
    </div>

  </ion-content>

</ion-split-pane>