<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Top Up your Account
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content id="menu-content">

    <div class="container">
      <br>
      <h5>Your Information</h5>
      <!-- <form> -->
        <div class="input">
          <label for="BillingAddress">Amount</label>
          <ion-input id="BillingAddress" type="number" autocomplete="off" placeholder="50" [(ngModel)]="amount"></ion-input>
        </div>
        <br>
        <div class="input">
          <label for="BillingAddress">Date</label>
          <ion-datetime cancelText="Cancel" doneText="Okay" display-format="DD-MM-YYYY" max="2021" placeholder="DD-MM-YYY" [(ngModel)]="date"></ion-datetime>
        </div>
        <br>
        <div class="input">
          <label for="BillingAddress">Contact Number</label>
          <ion-input id="BillingAddress" type="tel" autocomplete="off" placeholder="xxxxxxxxxx" [(ngModel)]="number"></ion-input>
        </div>
        <br>
        <div class="input">
          <label for="BillingAddress">Receipt<small>&nbsp;(click below to choose)</small></label>
          <br>
          <img src="{{ base64Image || image}}" alt="" style="max-width: 200px; height: auto; border-radius: 0%;" (click)="choosePicture()">
        </div>
        <br>
        <ion-button (click)="submit()">Submit</ion-button>
      <!-- </form> -->
    </div>

  </ion-content>