<ion-split-pane contentId="menu-content">
  <!--  our side menu  -->
  <ion-menu contentId="menu-content">
    <ion-header>
      <ion-toolbar>
        <ion-title style="color: #5b0101;">Options</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ul style="list-style: none; padding: 0px 0px 0px 0px;">
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="navigateHome()"> Home
        </li>
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="navigateTopUp()"> Top Up
        </li>
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="navigateTransaction()"> Transaction History
        </li>
        <li style="padding-left: 10px; border-bottom: 0.5px solid #9c9c9c; min-height: 35px; padding-top: 8px;"
          (click)="logout()"> Log Out
        </li>
      </ul>
    </ion-content>
  </ion-menu>


  <ion-content id="menu-content">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-icon name="menu" style="position: relative; top: 4px;" (click)="openMenu()"></ion-icon><span
            style="position: relative; left: 20px;">Transactions</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="container">
    </div>
  </ion-content>

</ion-split-pane>